{% extends 'base.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block main %}
<main class="d-flex justify-content-between pr-5 pl-5 pt-3">
  <section class="container">
    <h1 class="text-center">My students</h1>
    <hr>
    <article class="list">

    </article>
  </section>
  <section class="container">
    <h1 class="text-center">Clock</h1>
    <hr>
    <article class="list">
      
    </article>
  </section>
</main>
{% endblock %}
